.places {
  max-width: 880px;
  margin: 50px auto 67px auto;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat( auto-fit, minmax(282px, 1fr) );
}

@media screen and (max-width: 917px) {
  .places {
    margin: 36px 19px 48px 19px;
    gap: 20px;
  }
}
