.pop-up__about-self {
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  margin-bottom: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .pop-up__about-self {
    width: 238px;
    margin-bottom: 40px;
  }
}