.pop-up__name {
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 8px;
}