.pop-up__form {
  width: 430px;
  height: 330px;
  position: fixed;
  top: 195px;
  left: calc(50% - 215px);
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;

}

@media screen and (max-width: 767px) {
  .pop-up__form {
    top:123px;
    left: calc(50% - 141px);
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}
