.profile__button-edit-logo {
  margin: auto;
  width: 10px;
  height: 10px;
  background-image: url('../../../images/edit.png');
  background-size: contain;
  
}

@media screen and (max-width: 767px) {
  .profile__button-edit-logo {
    width: 7.5px;
    height: 7.5px;
  }
}