.pop-up__save {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  transition: 0.4s ease-in;
}

.pop-up__save:hover {
  cursor: pointer;
  opacity: 0.8;
}  