.popup__save {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  transition: 0.4s all;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 48px;
  border: none;
}

.popup__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 40px;
  }
}
