.profile__button-rename {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #000;
  margin-left: 18px;
  margin-top: 36px;
  transition: 0.4s ease-in;
}
.profile__button-rename:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button-rename {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}